
.App{
  display: flex;
  margin-top: 0%;
}
.logo p{
  margin-top: 0%;
  color: #51459E;
  font-family: poppin;
 font-weight: 600;
font-size: 22px;
Line-height:33px;

}
.chart{
  align-items: center;
  display: flex;
  justify-items: flex-end;
}
.time{
  position: absolute;
  right: 2%;
}
.time-date{
  color: white;
  background:blue;
  cursor:pointer;
  padding:5px;
  border-radius:5px;
  
}
.time-price{
  color: white;
  background:blue;
  cursor:pointer;
  padding:5px;
  margin-top: 0%;
  border-radius:5px;
}
