
.App{
  display: flex;
  margin-top: 0%;
}
.chart{
  align-items: center;
  display: flex;
  justify-items: flex-end;
}
.time{
  position: absolute;
  right: 2%;
}
.time-date{
  color: white;
  background:blue;
  cursor:pointer;
  padding:5px;
  border-radius:5px;
  
}
.list li{
  text-decoration: none;
  color: brown;
  
}
.graph{
  box-sizing: border-box;
  margin-top: 10%;
  box-shadow: 2px solid red;
  background-color: aqua;
}